<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main},'ADMIN')}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<main>
		<section class="home-blog bg-sand">
    <div class="container">
		<!-- section title -->
		<div class="row justify-content-md-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="section-title text-center title-ex1">
					<h2>Trang Quản Lí</h2>
					<p>Hỗ trợ việc thống kê và thêm xóa sửa những dữ liệu hiện có.</p>
				</div>
			</div>
		</div>
		<!-- section title ends -->
		<div class="row ">
			<div class="col-md-6">
				<div class="media blog-media">
				  <a href="blog-post-left-sidebar.html"><img class="d-flex" src="https://via.placeholder.com/350x380/6495ED/000000" alt="Generic placeholder image"></a>
				  <div class="circle">
				  	<h5 class="day">14</h5>
				  	<span class="month">sep</span>
				  </div>
				  <div class="media-body">
				    <a href=""><h5 class="mt-0">Standard Blog Post</h5></a>
				    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
				    <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>
				    <ul>
				    	<li>by: Admin</li>
				    	<li class="text-right"><a href="blog-post-left-sidebar.html">07 comments</a></li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="media blog-media">
				  <a href="blog-post-left-sidebar.html"><img class="d-flex" src="https://via.placeholder.com/350x380/FFB6C1/000000" alt="Generic placeholder image"></a>
				  <div class="circle">
  				  	<h5 class="day">12</h5>
  				  	<span class="month">sep</span>
  				  </div>
				  <div class="media-body">
				    <a href=""><h5 class="mt-0">perferendis labore</h5></a>
				    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
				    <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>
				    <ul>
				    	<li>by: Admin</li>
				    	<li class="text-right"><a href="blog-post-left-sidebar.html">04 comments</a></li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="media blog-media">
				  <a href="blog-post-left-sidebar.html"><img class="d-flex" src="https://via.placeholder.com/350x380/FF7F50/000000" alt="Generic placeholder image"></a>
				  <div class="circle">
  				  	<h5 class="day">09</h5>
  				  	<span class="month">sep</span>
  				  </div>
				  <div class="media-body">
				    <a href=""><h5 class="mt-0">deleniti incdunt magni</h5></a>
				    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
				    <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>
				    <ul>
				    	<li>by: Admin</li>
				    	<li class="text-right"><a href="blog-post-left-sidebar.html">10 comments</a></li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="media blog-media">
				  <a href="blog-post-left-sidebar.html"><img class="d-flex" src="https://via.placeholder.com/350x380/008B8B/000000" alt="Generic placeholder image"></a>
				  <div class="circle">
  				  	<h5 class="day">04</h5>
  				  	<span class="month">sep</span>
  				  </div>
				  <div class="media-body">
				    <a href=""><h5 class="mt-0">Explicabo magnam </h5></a>
				    Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
				    <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>
				    <ul>
				    	<li>by: Admin</li>
				    	<li class="text-right"><a href="blog-post-left-sidebar.html">06 comments</a></li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
	
	</main>
</body>
</html>