<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="m-2 shadow-lg p-3 bg-body rounded">
						<h2>Billing Address</h2>
						<form>
							<div class="mb-3">
							  <label for="hoten" class="form-label" style="color: black;">Họ tên</label>
							  <input type="text" class="form-control" id="hoten" aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
							  <label for="sdt" class="form-label" style="color: black;">Số điện thoại</label>
							  <input type="text" class="form-control" id="sdt">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label" style="color: black;">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							  </div>
							  <div class="mb-3">
								<label for="diachi" class="form-label" style="color: black;">Địa chỉ</label>
								<input type="text" class="form-control" id="diachi" aria-describedby="emailHelp">
							  </div>
						  </form>
						  <div class="row">
							<button ng-click="order.purchase()" class="btn btn-primary rounded-pill m-auto" style="width: 70%;">Đặt hàng</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!--  
					<div class="m-2 shadow-lg p-3 bg-body rounded">
						<h2>Order Total</h2>
						<div class="row">
							<div class="col-md-8">
								Product Name
							</div>
							<div class="col-md-4 text-right">
								...$
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								Product Name
							</div>
							<div class="col-md-4 text-right">
								...$
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								Product Name
							</div>
							<div class="col-md-4 text-right	">
								...$
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-8">
								Subtotal
							</div>
							<div class="col-md-4 text-right">
								...$
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								Shipping
							</div>
							<div class="col-md-4 text-right">
								...$
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-8">
								Total
							</div>
							<div class="col-md-4 text-right">
								...$
							</div>
						</div>
						<div class="row">
							<a href="" class="btn btn-primary rounded-pill m-auto">Check out</a>
						</div>
					</div>
					-->
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Tên SP</th>
					      <th scope="col">Số lượng</th>
					      <th scope="col">Tổng tiền</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
					
				</div>
			</div>
		</div>
	</main>
</body>
</html>