<nav aria-label="Page navigation example">
	<ul class="pagination" ng-if="1 < pages.length" style="background-color: #333; color: white; font-size: 20px;">
	    <li class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
	        <a class="page-link" href="" ng-click="setCurrent(1)">&laquo;</a>
	    </li>
	    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
	        <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
	    </li>
	    <li class="page-item" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
	        <a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
	    </li>
	
	    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
	        <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
	    </li>
	    <li class="page-item" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
	        <a class="page-link" href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
	    </li>
	</ul>
</nav>